body{
  background: #EB5757;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.Header{
  display: flex;
  justify-content: center;
 padding: 50px;

}
.Header  img{
  border-radius: 50%;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
.bottomDiv{
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin: 0 auto;
  
}